<section class="login">

  <h1>Administração do Blog</h1>
  <h2>Crie | Selecione um post para gerenciar </h2>
  <div class="crumbs">
    <a href="/admin" > Voltar </a> |
    <a href="/admin/logout">Encerrar Sessao</a>
  </div>
  <div class="spacer"></div>

  <div class="container">

    <div class="dashboard">

      <a href="/admin/blog/new" class="box new"> Novo Post</a>

      </div>
    <div class="dashboard">

      <ul>
        <?php for ($i=0; $i < count($posts); $i++): ?>
        <li>
          <img src="/assets/images/blog/<?php echo $posts[$i]->image; ?>" alt="">
          <span><?php echo $posts[$i]->title; ?></span>
          <a href="/admin/blog/edit/<?php echo $posts[$i]->slug; ?>" class="edit"> Editar </a>
          <a href="/admin/blog/remove/<?php echo $posts[$i]->slug; ?>" class="remove" > Remover </a>
        </li>
        <?php endfor; ?>
      </ul>

    </div>

  </div>

</section>
