<section class="login">

  <h1>Painel Administrativo</h1>
  <h2>Selecione uma aba para gerenciar </h2>
  <div class="crumbs">
    <a href="/admin/logout">Encerrar Sessao</a>
  </div>
  <div class="spacer"></div>

  <div class="container">

    <div class="dashboard">
    <a class="box" href="/admin/blog" >
      Gerencie o Blog
    </a>

    <a class="box" href="/admin/forms" >
      Gerencie Lista de Formulários
    </a></div>

  </div>

</section>
