<section class="login">

  <h1>Administração de Formulários</h1>
  <h2>Gerencie seus formulários</h2>
  <div class="crumbs">
    <a href="/admin" > Voltar </a> |
    <a href="/admin/logout">Encerrar Sessao</a>
  </div>
  <div class="spacer"></div>

  <div class="container">

    <div class="dashboard">

      <a href="/formulario" class="box new" target="_blank"> Novo Formulário</a>

      </div>
    <div class="dashboard">

      <ul>
        <?php for ($i=0; $i < count($forms); $i++): ?>
        <li>
          <span>
            <?php echo ($forms[$i]->name) ? $forms[$i]->name : $forms[$i]->social; ?> <br>
            <?php echo ($forms[$i]->cpf) ? $forms[$i]->cpf : $forms[$i]->cnpj; ?>
          </span>
          <a href="/admin/forms/view/<?php echo $forms[$i]->unique_id; ?>" class="edit" title="_blank"> Visualizar </a>
          <a href="/admin/forms/remove/<?php echo $forms[$i]->unique_id; ?>" class="remove" > Remover </a>
        </li>
        <?php endfor; ?>
      </ul>

    </div>

  </div>

</section>
