
<div style="height: 60px;
width: 100vw;
padding: 10px 0px;
background: rgba(44, 74, 111, 1.0);
display: flex;
align-items: center;
justify-content: center;
margin: -10px 0 0 -9px;">
  <img src="{{logo}}" alt="ecobox" style="height: 60px">
</div>
<div style="width: 100vw; display: flex; align-items: center; justify-content: center">

  <div id="body" style="
  width: 70vw;
  padding: 10px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 20px">

    <h1>Ficha de Cadastramento</h1>


    <br>

    <style>
    td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
    </style>

{{#pf}}
<table style="
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;">

  <tr>
    <th colspan="3"><h3>1. Dados Pessoais ( Pessoa Fisica )</h3></th>
  </tr>
  <tr>
    <td><small><b>Nome Completo:</b></small> <br> {{name}}</td>
    <td><small><b>Nome da Mãe:</b></small> <br> {{mother}}</td>
    <td><small><b>Data de Nascimento:</b></small> <br> {{birth}}</td>
  </tr>
  <tr>
    <td><small><b>E-Mail:</b></small> <br> {{email}}</td>
    <td><small><b>Telefone:</b></small> <br> {{phone}}</td>
    <td><small><b>CPF:</b></small> <br> {{cpf}}</td>
  </tr>
  <tr>
    <td><small><b>RG/RNE:</b></small> <br> {{rg}}</td>
    <td><small><b>Valor de Patrimônio:</b></small> <br> {{value}}</td>
    <td><small><b>Sexo:</b></small> <br> {{sex}}</td>
  </tr>
  <tr>
    <td><small><b>Nacionalidade:</b></small> <br> {{nationality}}</td>
    <td colspan="2"><small><b>Estado Civil:</b></small> <br> {{status}} </td>
  </tr>
</table>
{{/pf}}
{{#pj}}
<table style="
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;">
<tr>
    <th colspan="3"><h3>1. Dados Pessoais ( Pessoa Juridica )</h3></th>
  </tr>
  <tr>
    <td><small><b>CNPJ:</b></small> <br> {{pj_cnpj}}</td>
    <td><small><b>Razão Social:</b></small> <br> {{pj_social}}</td>
    <td><small><b>Nome Fantasia:</b></small> <br> {{pj_fantasy}}</td>
  </tr>
  <tr>
    <td><small><b>Faturamento Mensal:</b></small> <br> {{pj_income}}</td>
    <td><small><b>Capital Social:</b></small> <br> {{pj_capitol}}</td>
    <td><small><b>Telefone:</b></small> <br> {{pj_phone}}</td>
  </tr>
  <tr>
    <td><small><b>Endereço:</b></small> <br> {{pj_address}} , N. {{pj_number}}</td>
    <td><small><b>CEP:</b></small> <br> {{pj_cep}}</td>
    <td><small><b>Bairro:</b></small> <br> {{pj_neighbourhood}}</td>
  </tr>
  <tr>
    <td><small><b>Estado:</b></small> <br> {{pj_state}}</td>
    <td colspan="2"><small><b>Cidade:</b></small> <br> {{pj_city}}</td>
  </tr>
</table>
{{/pj}}

<br>

<table style="
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;">

  <tr>
    <th colspan="3"><h3>2. Dados Representante Legal</h3></th>
  </tr>
  <tr>
    <td><small><b>Nome Completo:</b></small> <br> {{rep_name}}</td>
    <td><small><b>Nome da Mãe:</b></small> <br> {{rep_mother}}</td>
    <td><small><b>Data de Nascimento:</b></small> <br> {{rep_birth}}</td>
  </tr>
  <tr>
    <td><small><b>E-Mail:</b></small> <br> {{rep_email}}</td>
    <td><small><b>Telefone:</b></small> <br> {{rep_phone}}</td>
    <td><small><b>CPF:</b></small> <br> {{rep_cpf}}</td>
  </tr>
  <tr>
    <td><small><b>RG/RNE:</b></small> <br> {{rep_rg}}</td>
    <td><small><b>Valor de Patrimônio:</b></small> <br> {{rep_value}}</td>
    <td><small><b>Sexo:</b></small> <br> {{rep_sex}}</td>
  </tr>
  <tr>
    <td><small><b>Nacionalidade:</b></small> <br> {{rep_nationality}}</td>
    <td colspan="2"><small><b>Estado Civil:</b></small> <br> {{rep_status}} </td>
  </tr>

  {{#aposentado}}
  <tr>
    <td><small><b>Natureza de Ocupação:</b></small> <br> {{nature}}</td>
    <td><small><b>Renda Mensal:</b></small> <br> {{income}}</td>
    <td><small><b>Numero de Benefícios:</b></small> <br> {{benefits}}</td>
  </tr>
  <tr>
    <td colspan="3"><small><b>Tempo Aposentado:</b></small> <br> {{time}}</td>
  </tr>
  {{/aposentado}}

  {{#normal}}
  <tr>
    <td><small><b>Natureza de Ocupação:</b></small> <br> {{nature}}</td>
    <td><small><b>Ocupação:</b></small> <br> {{occupation}}</td>
    <td><small><b>Tempo de Ocupação:</b></small> <br> {{time}}</td>
  </tr>
  <tr>
    <td colspan="3"><small><b>Renda Mensal:</b></small> <br> {{income}}</td>
  </tr>
  {{/normal}}

  {{#empresario}}
  <tr>
    <td><small><b>CNPJ:</b></small> <br> {{cnpj}}</td>
    <td><small><b>Razão Social:</b></small> <br> {{social}}</td>
    <td><small><b>Nome Fantasia:</b></small> <br> {{fantasy}}</td>
  </tr>
  <tr>
    <td><small><b>Faturamento Mensal:</b></small> <br> {{income}}</td>
    <td><small><b>Capital Social:</b></small> <br> {{capitol}}</td>
    <td><small><b>Telefone:</b></small> <br> {{phone}}</td>
  </tr>
  <tr>
    <td><small><b>Endereço:</b></small> <br> {{em_address}} , N. {{em_number}}</td>
    <td><small><b>CEP:</b></small> <br> {{em_cep}}</td>
    <td><small><b>Bairro:</b></small> <br> {{em_neighbourhood}}</td>
  </tr>
  <tr>
    <td><small><b>Estado:</b></small> <br> {{em_state}}</td>
    <td colspan="2"><small><b>Cidade:</b></small> <br> {{em_city}}</td>
  </tr>
  {{/empresario}}
</table>

<br>

<table style="
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;">

  <tr>
    <th colspan="3"><h3>3. Endereço do Cadastrado</h3></th>
  </tr>
  <tr>
    <td><small><b>Endereço:</b></small> <br> {{address}} , N. {{number}}</td>
    <td><small><b>CEP:</b></small> <br> {{cep}}</td>
    <td><small><b>Bairro:</b></small> <br> {{neighbourhood}}</td>
  </tr>
  <tr>
    <td><small><b>Estado:</b></small> <br> {{state}}</td>
    <td colspan="2"><small><b>Cidade:</b></small> <br> {{city}}</td>
  </tr>

</table>

<br>

<table style="
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;">

  <tr>
    <th colspan="3"><h3>4. Endereço de Instalação</h3></th>
  </tr>
  <tr>
    <td><small><b>Endereço:</b></small> <br> {{install_address}} , N. {{install_number}}</td>
    <td><small><b>CEP:</b></small> <br> {{install_cep}}</td>
    <td><small><b>Bairro:</b></small> <br> {{install_neighbourhood}}</td>
  </tr>
  <tr>
    <td><small><b>Estado:</b></small> <br> {{install_state}}</td>
    <td colspan="2"><small><b>Cidade:</b></small> <br> {{install_city}}</td>
  </tr>

</table>

  </div>

</div>
