<section class="login">

  <h1>Painel Administrativo</h1>
  <h2>Utilize seus dados de acesso para iniciar sessão</h2>
  <div class="spacer"></div>

  <div class="container">

    <form action="/admin/login" method="post" charset="utf-8" data-ajaxForm='true'>
      <div class="item"><span>Usuario | E-Mail</span></div</span> <?php echo $form->render("username"); ?> </div>
      <div class="item"><span>Senha</span> <?php echo $form->render("password"); ?></div>
      <div class="wrapper">
        <?php echo $form->render("security"); ?>

        <div id="response">
          <h1></h1>
        </div>
        <button type="submit"> Enviar </button>
      </div>

    </form>

  </div>

</section>
