<section class="login">

  <h1>Novo Post</h1>
  <h2>CRIE UM NOVO POST PARA O BLOG!</h2>

  <div class="crumbs">
    <a href="/admin/blog" > Voltar </a> |
    <a href="/admin/logout">Encerrar Sessao</a>
  </div>

  <div class="spacer"></div>

  <div class="container">

    <form action="/admin/blog/create" method="post" charset="utf-8" data-ajaxForm='true'>
      <div class="item"><span>Título</span> <?php echo $form->render("title"); ?> </div>
      <div class="item"><span>Imagem</span> <?php echo $form->render("file"); ?></div>
      <div id="toolbar"></div>
      <div class="item"><span>Texto</span> <?php echo $form->render("text"); ?></div>
      <div class="wrapper">


        <?php echo $form->render("security"); ?>

        <div id="response">
          <h1></h1>
        </div>
        <button type="submit"> Enviar </button>
      </div>

    </form>

  </div>

</section>
