<section class="login">

  <h1>Remover Post</h1>
  <h2>Confirme para remover esse post</h2>

  <div class="crumbs">
    <a href="/admin/blog" > Voltar </a> |
    <a href="/admin/logout">Encerrar Sessao</a>
  </div>

  <div class="spacer"></div>

  <div class="container">

    <form action="/admin/blog/delete" method="post" charset="utf-8" data-ajaxForm='true'>
      <h1> Confirme para remover esse post.</h1>
      <div class="wrapper">


        <?php echo $form->render("slug"); ?>
        <?php echo $form->render("security"); ?>

        <div id="response">
          <h1></h1>
        </div>
        <button type="submit"> Remover Post </button>
      </div>

    </form>

  </div>

</section>
