section.login {
  width: 100vw;
  min-height: 100vh;
  background-color: #f3a54f;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

section.login h1 {
  font-family: "Elsie";
  font-size: 46px;
  line-height:30px;
  color: #ffffff;
  margin: 0px;
  padding: 5px;
  display: block;
  text-align: center;
}
section.login h2 {
  font-family: "Rubik";
  font-size: 16px;
  font-weight: 100;
  color: #ffffff;
  margin: 0px;
  padding: 5px;
  display: block;
  text-align: center;
}
section.login .spacer {
  display: block;
  width: 10vw;
  height: 5px;
  background: #ffffff;
  margin: 10px 0;
}

section.login .container {
  display: flex;
  align-items: center;
  justify-content:center;
  flex-direction: row;
  width: 75vw;
  flex-wrap: wrap;
  margin: 15px 0;
}

section.login .container form {
  width: calc(60% - 30px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  background: rgba(44,74,111, 1.0);
  padding: 35px 15px;
}

section.login .container form .item{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  position: relative;
}

section.login .container form label span{
  width: 100%;
}

section.login .container form .item input{
  width: 100% ;
  padding: 10px 5px;
  background: rgba(44,74,111, 1.0);
  border: 4px solid #f3a54f;
  margin:15px;
  color: #fff;font-family: "Rubik";
  font-size: 16px;
  font-weight: 400;
}

section.login .container form .item textarea {
  width: 100%;
  padding: 10px 5px;
  background: rgba(44,74,111, 1.0);
  border: 4px solid #f3a54f;
  margin: 15px;
  display: block;
  color: #fff;font-family: "Rubik";
  font-size: 16px;
  font-weight: 400;
  resize: none;
  min-height: 150px;
}

.note-editor{
  width: 100%;
  padding: 10px 5px;
}

section.login .container form .item span{
  font-family: "Rubik";
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  margin: 0px;
  margin: 15px 15px 0 15px;
  display: block;
  text-align: left;
  text-transform: uppercase;
}

section.login .container form .wrapper{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
}

section.login .container form .wrapper button{
  text-transform: uppercase;
  font-size: 14px;
  display: block;
  padding: 10px 40px;
  font-family: "Rubik";
  font-weight: bold;
  color: #ffffff;
  letter-spacing: 250;
  text-transform: uppercase;
  border: 4px solid #faab4b;
  decoration: none;
  transition: all 0.2s ease-in;
  background-color: rgba(250,171,75,1.0);
  text-decoration: none;
  margin-right: 15px;
}

section.login .container form .wrapper button:hover {
  background-color: rgba(250,171,75,0.7);
  cursor: pointer;
}

section.login .container form .divider {
  width: 100%;
  border-bottom: 2px solid rgba(250,171,75,1.0);
  margin: 15px;
}

section.login .container form .info {
  width: 100%;
  margin: 15px;
}

section.login .container form .info h1{
  text-transform: uppercase;
  font-size: 22px;
  display: block;
  font-family: "Rubik";
  font-weight: 400;
  text-align:left;
  padding: 10px 0px;
  margin: 0;
}

section.login .container form .info ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px 0px;
  margin: 0;
}
section.login .container form .info ul li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 50%;
  font-family: "Rubik";
  font-weight: bold;
  color: #ffffff;
  line-height: 20px;
  padding: 0;
  margin: 0;
}

section.login .container form .info ul li:nth-of-type(odd)  i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  background: url(../images/icons/email.svg) no-repeat center center;
  background-size: cover;
}
section.login .container form .info ul li:nth-of-type(even)  i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  background: url(../images/icons/phone.svg) no-repeat center center;
  background-size: cover;
}


section.login .container form .info ul li a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  display: block;
  font-family: "Rubik";
  font-weight: bold;
  color: #ffffff;
  font-weight: 100;
  margin: 10px;
}

section.login .container form #response {
  width: 100%;
  margin: 0px 10px;
}

section.login .container form #response h1{
  text-transform: uppercase;
  font-size: 18px;
  display: block;
  font-family: "Rubik";
  font-weight: 400;
  text-align:left;
  padding: 0px 0px;
  margin: 0;
}

section.login a.box {
  font-family: "Rubik";
  font-size: 20px;
  font-weight: 100;
  color: #ffffff;
  margin: 0px;
  padding: 20px 50px;
  display: block;
  text-align: center;
  background-color: rgba(44, 74, 111, 1.0);
  text-decoration: none;
  width: 25%;
  margin: 15px;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

section.login a.box:hover {
 background-color: rgba(44, 74, 111, 0.9);
}

section.login .dashboard {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

section.login .dashboard ul{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  flex-direction: column;
}

section.login .dashboard ul li{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  background-color: rgba(44, 74, 111, 1.0);
  height: 100px;
  position: relative;
  margin: 10px 0 ;
}
section.login .dashboard ul li span {
  font-family: "Rubik";
  color: #ffffff;
  padding: 5px 20px;
  flex: 1;
}

section.login .dashboard ul li a.edit {
  height: calc(100% - 8px );
  background-color: rgba(255,255,255, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 30px;
  font-family: "Rubik";
  color: #000000;
  text-decoration: none;
  transition: all 0.2s ease-in-out;

  border: 4px solid rgba(44, 74, 111, 0.0);
}

section.login .dashboard ul li a.remove {
  height: calc(100% - 8px );
  background-color: rgba(153,45,34, 1.0);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 20px;
  font-family: "Rubik";
  color: #ffffff;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  border: 4px solid rgba(44, 74, 111, 0.0);
}
section.login .dashboard ul li a:hover {
  border: 4px solid rgba(44, 74, 111, 1.0);
}
section.login .dashboard ul li img {
  height: 100%;
  width: 100px;
}


section.login .crumbs {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: row;
  width: 100%;
}

section.login .crumbs a {
  text-decoration: none;
  font-family: "Rubik";
  padding: 15px;
}
