@viewport {
  zoom: 1.0;
  width: device-width;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Elsie";
  src: url("../fonts/Elsie-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Elsie";
  src: url("../fonts/Elsie-Black.ttf");
  font-weight: bold;
}

section.form-selection{
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


section.form-selection .wrapper {
  background: rgba(44, 74, 111, 1.0);
  width: 75%;
  box-shadow: 5px 10px 30px rgba(44, 74, 111, 1.0);
  padding: 30px 0;
}

@media only screen and (max-width: 767px)
{
  section.form-selection .wrapper {
    width: 95% !important;
  }

  section.form-selection .wrapper h1 {
    font-size: 40px !important;
    margin: 15px 15px !important;
  }

  section.form-selection .wrapper small {
    margin: 15px 15px !important;
    line-height: 20px !important;
    text-align: center
  }

  section.form-selection .wrapper form {
    flex-direction: column !important;
  }

  section.form-selection .wrapper form > div{
    flex-direction: column !important;
    padding: 15px 0px;
  }
}

section.form-selection .page_progress {
  margin-top: 80px;
  width: 70%;
  height: 50px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

section.form-selection .page_progress .line {
  width: 100%;
  height: 8px;
  border-radius: 10px;
  background: rgba(128,128,128);
  position: absolute;
  z-index: 0;
}

section.form-selection .page_progress .line.progress2 {
  background: linear-gradient(to right,
    rgba(250,171,75) 25%,
    rgba(128,128,128) 25%,
    rgba(128,128,128) 25%,
    rgba(128,128,128) 25%
    );
}

section.form-selection .page_progress .line.progress3 {
  background: linear-gradient(to right,
    rgba(250,171,75) 50%,
    rgba(128,128,128) 25%,
    rgba(128,128,128) 25%
    );
}
section.form-selection .page_progress .line.progress4 {
  background: linear-gradient(to right,
    rgba(250,171,75) 75%,
    rgba(128,128,128) 25%
    );
}
section.form-selection .page_progress .line.progress5 {
  background: rgba(250,171,75);
}

section.form-selection .page_progress .empty{
  width: 20px;
  height: 20px;
  border: 4px solid rgba(128,128,128);
  background: #ffffff;
  border-radius: 4px;
  z-index: 1;
}

section.form-selection .page_progress .dot{
  width: 20px;
  height: 20px;
  background: rgba(128,128,128);
  border-radius: 40px;
  z-index: 1;
}

section.form-selection .page_progress .empty.active{
  border: 4px solid rgba(250,171,75, 1.0);
}
section.form-selection .page_progress .dot.active{
  background: rgba(250,171,75, 1.0);
}

section.form-selection .wrapper h1 {
  font-family: "Elsie";
  font-size: 60px;
  color: #ffffff;
  line-height: 60px;
  margin: 0px;
  position: relative;

  margin: 45px 65px 20px 65px;
}

section.form-selection .wrapper small {
  font-family: "Rubik";
  font-size: 20px;
  color: #ffffff;
  line-height: 60px;
  position: relative;
  margin: 0 65px 20px 65px;
}

section.form-selection .wrapper h2 {
  font-family: "Rubik";
  font-size: 30px;
  color: rgba(255, 255, 255, 0.7);
  line-height: 60px;
  margin: 45px 65px 0 65px;
  font-weight: 300;
  position: relative;
}

section.form-selection .wrapper h3 {
  font-family: "Rubik";
  font-size: 18px;
  color: rgba(255, 255, 255, 1.0);
  line-height: 60px;
  margin: 0 65px 0 65px;
  font-weight: 400;
  position: relative;
}

section.form-selection .wrapper form {
  width: calc(100% - 130px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin: 0 65px;
}

section.form-selection .wrapper form label{
  font-family: "Rubik";
  font-size: 18px;
  color: rgba(255, 255, 255, 1.0);
  font-weight: 100;
  position: relative;
}

section.form-selection form button{
  text-transform: uppercase;
  font-size: 14px;
  display: block;
  padding: 10px 40px;
  font-family: "Rubik";
  font-weight: bold;
  color: #ffffff;
  letter-spacing: 250;
  text-transform: uppercase;
  border: 4px solid #faab4b;
  decoration: none;
  transition: all 0.2s ease-in;
  background-color: rgba(250,171,75,1.0);
  text-decoration: none;
  margin-right: 15px;
}

section.form-selection form button:hover {
  background-color: rgba(250,171,75,0.7);
  cursor: pointer;
}

section.form-selection form.pf{
  background: rgba(255, 255, 255, 1.0);
  width: calc(75% - 60px);
  border: 4px solid rgba(128,128,128);
  padding: 30px 30px;
}

section.form-selection form.pf h2{
  font-family: "Rubik";
  font-size: 36px;
  color: rgba(128, 128, 128, 0.8);
  line-height: 60px;
  font-weight: 500;
  position: relative;
}

section.form-selection form.pf .inputs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media only screen and (max-width: 767px)
{
  section.form-selection form.pf .inputs {
    flex-direction: column !important;
  }

  section.form-selection form.pf .inputs .item {
    width: calc(100% - 30px) !important;
  } 
}

section.form-selection form.pf .inputs .item  {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: calc(33.3% - 30px);
  position: relative;
  margin: 15px;
}
section.form-selection form.pf .inputs .item[data-ocupacao]  {
  display: none;
}
section.form-selection form.pf [data-other]  {
  display: none;
}

section.form-selection form.pf .inputs .item input{
  width: 100%;
  padding: 10px 5px;
  background: rgba(255,255,255, 1.0);
  border: 4px solid #f3a54f;
  color: #f3a54f;
  font-family: "Rubik";
  font-size: 16px;
  font-weight: 400;
  outline: none;
}

section.form-selection form.pf .inputs .item.half {
  width: calc(50% - 30px);
}

section.form-selection form.pf .inputs .item select {
  width: 100%;
  background: rgba(255,255,255, 1.0);
  border: 4px solid #f3a54f;
  padding: 10px 5px;
  color: #f3a54f;
  font-family: "Rubik";
  font-size: 16px;
  font-weight: 400;
  display: block;
  outline: none;
}

section.form-selection form.pf .inputs .item span {
  font-family: "Rubik";
  font-size: 20px;
  color: rgba(128, 128, 128, 0.8);
  font-weight: 200;
  position: relative;
  width: 100%;
  text-transform: uppercase;
}

.wrap_toright{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.wrap_toright .column {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

section.form-selection form.pf hr
{
  width: 100%;
  height: 2px;
  background-color: rgba(128, 128, 128, 0.8);
}

section.form-selection form.pf input[type="radio"]{
  width: 18px;
  height: 18px;
}

.wrap_toright .column label span {
  font-family: "Rubik";
  font-size: 20px;
  color: rgba(128, 128, 128, 0.8);
}

section.form-selection a.back{
  text-transform: uppercase;
  font-size: 14px;
  padding: 10px 40px;
  font-family: "Rubik";
  font-weight: bold;
  color: #ffffff;
  letter-spacing: 250;
  text-transform: uppercase;
  border: 4px solid #faab4b;
  decoration: none;
  transition: all 0.2s ease-in;
  background-color: rgba(250,171,75,1.0);
  text-decoration: none;
  margin-right: 15px;
}

section.form-selection a.back:hover {
  background-color: rgba(250,171,75,0.7);
  cursor: pointer;
}
