@viewport {
  zoom: 1.0;
  width: device-width;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Nevrada";
  src: url("../fonts/AL_Nevrada_Personal_Use_Only.ttf");
}

@font-face {
  font-family: "Rocko";
  src: url("../fonts/RockoFLF.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Rocko";
  src: url("../fonts/RockoFLF-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Elsie";
  src: url("../fonts/Elsie-Black.ttf");
  font-weight: bold;
}

body , html {
  margin: 0px;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.whatsapp {
  position: fixed;
  bottom: 25px;
  right: 25px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.whatsapp img{
  width: 50px;
  height: 50px;
}

.whatsapp:hover {
  animation: bounce; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 1s; /* don't forget to set a duration! */
}

/* navigation */

nav {
  position: absolute;
  top: 0;
  height: 60px;
  width: 100vw;
  padding: 10px 0px;
  background: rgba(44, 74, 111, 0.0);
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  transition: all 0.2s ease-in;
  z-index: 5;

  animation: slideInDown; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 1s; /* don't forget to set a duration! */
}

.left-align{
  text-align: justify !important;
}

nav.active,  nav[data-active='true']{
  background: rgba(44, 74, 111, 1.0);
  position: fixed;
}

nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  height: 60px;
  width: 75vw;
  position: relative;
}

nav .container  .logo {
  display: flex;
}

nav .container  .logo img{
  height: 50px;
}

nav .container  ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  width: 50%;
}

nav .container ul li {
  font-family: "Rubik";
  font-weight: 100;
  color: #ffffff;
  letter-spacing: 4px;
  text-transform: uppercase;
  padding: 6px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 10px;
  transition: all 0.2s ease-in;
  border-bottom: 0px solid #faab4b;
  text-align: center;
}

nav .container  ul li a {
  text-decoration: none;
  color: #ffffff;
}

nav .container ul li.active {
  font-weight: 500;
  border-bottom: 4px solid #faab4b;
}

nav .container ul li:hover {
  border-bottom: 4px solid #faab4b;
  cursor: pointer;
}

nav .container  a.cta {
  display: block;
  padding: 10px 20px;
  font-family: "Rubik";
  font-weight: 500;
  color: #ffffff;
  letter-spacing: 4px;
  text-transform: uppercase;
  border: 4px solid #faab4b;
  decoration: none;
  transition: all 0.2s ease-in;
  background-color: rgba(250,171,75,0.0);
  text-decoration: none;
}

nav .container a.cta:hover {
  background-color: rgba(250,171,75,0.9);
  cursor: pointer;
}

section.index {
  width: 100vw;
  height: 100vh;
  /* background: linear-gradient(to right, rgba(44,74,111,0.75), rgba(44,74,111,0.75)), url(../images/parallax-foto.jpg) no-repeat top center ; */
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content:center;
  flex-direction: row;
  overflow: hidden;
}

section.index #bg1,
section.index #bg2,
section.index #bg3,
section.index #bg4 {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

section.index #bg1
{
  background: linear-gradient(to right, rgba(44,74,111,0.20), rgba(44,74,111,0.20)), url(../images/parallax/1.png) no-repeat top center ;
}
section.index #bg2
{
  background: linear-gradient(to right, rgba(44,74,111,0.20), rgba(44,74,111,0.20)), url(../images/parallax/2.png) no-repeat top center ;
}
section.index #bg3
{
  background: linear-gradient(to right, rgba(44,74,111,0.20), rgba(44,74,111,0.20)), url(../images/parallax/3.png) no-repeat top center ;
}
section.index #bg4
{
  background: linear-gradient(to right, rgba(44,74,111,0.20), rgba(44,74,111,0.20)), url(../images/parallax/4.png) no-repeat bottom center ;
}

section.index > .hero {
  width: 75vw;
}
section.index > .hero h1 {
  font-family: "Rocko";
  font-size: 100px;
  color: #ffffff;
  line-height: 100px;
  margin: 0px;
  padding: 10px 0px 0px 0px;
  position: relative;
  z-index: 3;

  animation: fadeInLeft; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
}
section.index > .hero h4 {
  font-family: "Rubik";
  font-size: 20px;
  color: rgba(255,255,255, 0.5);

  position: relative !important;
  text-transform: uppercase;
  margin: 0px;
  padding: 0px 0px 35px 0px;
  font-weight:500;
  letter-spacing: 2px;
  animation: fadeInLeft; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
}

section.index > .hero h1 u{
  margin-top: 6px;
  text-decoration-color: #faab4b;
  text-decoration-thickness: 4px;
  text-decoration-skip-ink: none;
}

section.index > .hero p {
  font-family: "Rubik";
  font-size: 20px;
  color: #ffffff;
  width:50%;
  line-height: 40px ;
  z-index: 1;
  background-color: rgba(19,53,83, 0.8);
  padding: 70px 40px 80px 0px;
  border-radius: 0 0 150px 0;
  position: relative;
  animation: fadeInLeft; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
  position: relative;
  margin-top: -55px;
}
section.index > .hero p:before {
  position: absolute;
  content: "";
  top: 0;
  left: -800px;
  height: 100%;
  width: 800px;
  background-color: rgba(19,53,83, 0.8);
}

section.index > .hero .more {
  padding: 4px 40px;
  font-family: "Rubik";
  font-weight: thin;
  color: #ffffff;
  letter-spacing: 250;
  text-transform: uppercase;
  border: 4px solid #faab4b;
  decoration: none;
  transition: all 0.2s ease-in;
  background-color: rgba(250,171,75,0.99);
  position: absolute;
  left: 0px;
  bottom: -25px;
  text-decoration: none;

  animation: slideInLeft; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
}
section.index > .hero .more:hover {
  color: #ffffff;
  background-color: rgba(250,171,75,0.0);
  cursor: pointer;
}


section.tabs {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 0 50px 0;
}

section.tabs .container {
    width: 75vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

section.tabs .container .titles {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    width: 100%;
    margin: -20px 0px 0px 0px;
    padding: 0px;
}
section.tabs .container .titles li {
  font-family: "Rubik";
  font-weight: regular;
  color: #ffffff;

  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 40px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 10px;
  transition: all 0.2s ease-in;
  background: #faab4b;
  width: 25%;
  cursor: pointer;
}

section.tabs .container .titles li.active {
  background: #fa9435;
  transform: scaleY(1.1);
}

section.tabs .container .titles li:hover {
  background: #fa9435;
}

section.tabs .container .contents {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
section.tabs .container .contents li {
  padding: 6px;
  font-family: "Rubik";
  font-weight: regular;
  letter-spacing: 250;
  padding: 40px 0;
  display: none;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 10px;
  transition: all 0.2s ease-in;
  width: 100%;
}

section.tabs .container .contents li.active {
  display: flex;

  animation: fadeIn; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
}

section.tabs .container .contents li .item {
  width: 33.3%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content:center;
  flex-direction: column;
}

section.tabs .container .contents li iframe {
  width: 50%;
}

section.tabs .container .contents li .item h3{
  font-family: "Rubik";
  font-weight: bold;
  color: #5c5c5c;
  border-bottom: 2px solid #faab4b;
  width: 55%;
}

section.tabs .container .contents li .item p{
  font-family: "Rubik";
  font-weight: light;
  color: #5c5c5c;
  text-align: center;
  width: 75%;
}

section.tabs .blog {
  display: block;
  padding: 10px 20px;
  font-family: "Rubik";
  font-weight: bold;
  letter-spacing: 250;
  text-transform: uppercase;
  border: 4px solid #5c5c5c;
  decoration: none;
  transition: all 0.2s ease-in;
  text-decoration: none;
  color: #5c5c5c;
  background-color: rgba(92,92,92, 0.0);
}

section.tabs .blog:hover {
  background-color: rgba(92,92,92, 1.0);
  color: #ffffff;
}

section.spacer {
    width: 100vw;
    height: 40vh;
    background: linear-gradient(to right, rgba(44,74,111,0.75), rgba(44,74,111,0.75)), url(../images/foto-area-paineis2.jpg) no-repeat top center ;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    margin: 0;
    padding: 0;

    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: row;
    position: relative;
}

section.spacer.secondary {
  background: linear-gradient(to right, rgba(249,139,42,0.25), rgba(249,139,42,0.25)), url(../images/foto-area-paineis1.jpg) no-repeat top center ;
}

section.spacer:after {
  content: "";
  position: absolute;
  width: 75vw;
  height:  12px;
  background: #faab4b;
  top: -4px;
}

section.installation {
      width: 100vw;
      background-color: #f3a54f;
      padding: 35px 0;

      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      position: relative;
}

section.installation h1 {
  font-family: "Rocko";
  font-size: 46px;
  color: #ffffff;
  margin: 0px;
  padding: 5px;
  display: block;
  text-align: center;
}
section.installation h2 {
  font-family: "Rubik";
  font-size: 16px;
  font-weight: 100;
  color: #ffffff;
  margin: 0px;
  padding: 5px;
  display: block;
  text-align: center;
}
section.installation .spacer {
  display: block;
  width: 10vw;
  height: 5px;
  background: #ffffff;
  margin: 10px 0;
}

section.installation .container {
  width: 75vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: row;
  padding: 25px 0;
}
section.installation .container .pane{
  width: 50%;
  height: 600px;
  background: rgba(44,74,111, 1.0);
  position: relative;
}
section.installation .container .pane.icons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  flex-wrap: wrap;

}
section.installation .container .pane.icons .icon {
  width: 33.3%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(249,150,56, 0.0);
  transition: all 0.2s ease-in;
  text-decoration: none;
  cursor: pointer;
}

section.installation .container .pane.icons .icon.active {
  background-color: rgba(249,150,56, 1.0);
}

section.installation .container .pane.icons .icon:hover {
  background-color: rgba(249,150,56, 0.8);
}

section.installation .container .pane.icons .icon img {
 width: 7vw;
 /* height: 150px; */
}

section.installation .container .pane.icons .icon p {
    font-family: "Rubik";
    font-size: 20px;
    font-weight: 100;
    color: #ffffff;
    margin: 0px;
    padding: 5px;
    display: block;
    text-align: center;
}

section.installation .container .pane.descriptions {

}

section.installation .container .pane.descriptions .description {
  display: none;
  text-wrap: break-word;
  transition: all 0.2s ease-in;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(44,74,111, 1.0), rgba(44,74,111, 1.0)), url(../images/rural.jpg) no-repeat ;
  background-size: cover !important;
  position: relative;
  overflow: hidden;
  background-position:fixed;
}


@-webkit-keyframes an{
 from{
   background-position-x:-1000px;
 }
 to{
   background-position-x:50%;
 }
}

section.installation .container .pane.descriptions .description.active {
  display: flex;
  animation:an 2s forwards;
  transition: 2s ease forwards;
}

section.installation .container .pane.descriptions .description.active p {
  animation: fadeInLeft; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
  --animate-delay: 0.5s;
}
section.installation .container .pane.descriptions .description p {
  font-family: "Rubik";
  font-size: 18px;
  font-weight: 100;
  color: #ffffff;
  margin: 0px;
  display: block;
  padding: 10px 35px;
  text-align: justify;
  hyphens: auto;
}

section.installation .container .pane.descriptions .description.des-1 {
 background: linear-gradient(to right, rgba(44,74,111,0.75), rgba(44,74,111,0.75)), url(../images/casa-painel.jpg) no-repeat ;
}

section.installation .container .pane.descriptions .description.des-2 {
 background: linear-gradient(to right, rgba(44,74,111,0.75), rgba(44,74,111,0.75)), url(../images/comercio-painel.jpg) no-repeat ;
}

section.installation .container .pane.descriptions .description.des-3 {
 background: linear-gradient(to right, rgba(44,74,111,0.75), rgba(44,74,111,0.75)), url(../images/rural.jpg) no-repeat ;
}

section.installation .container .pane.descriptions .description.des-4 {
 background: linear-gradient(to right, rgba(44,74,111,0.75), rgba(44,74,111,0.75)), url(../images/gerador-energia-painel.jpg) no-repeat ;
}

section.installation .container .pane.descriptions .description.des-5 {
 background: linear-gradient(to right, rgba(44,74,111,0.75), rgba(44,74,111,0.75)), url(../images/industria-painel.jpg) no-repeat ;
}

section.installation .container .pane.descriptions .description.des-6 {
 background: linear-gradient(to right, rgba(44,74,111,0.75), rgba(44,74,111,0.75)), url(../images/engenharia-painel.jpg) no-repeat ;
}

section.instagram {
  width: 100vw;
  background-color: #ffffff;
  padding: 15px 0 0 0;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

section.instagram .follow {
  font-family: "Rubik";
  font-size: 20px;
  font-weight: 100;
  color: #5c5c5c;
  margin: 0px;
  display: block;
  padding: 10px 0;
  width: calc(100% - 70px);

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: relative;
}

section.instagram .follow img {
  width: 30px;
  height: 30px;
  margin: 0 15px;
}

section.instagram .feed {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: relative;
  flex-wrap: wrap;
  padding: 15px 0 0 0;
}
section.instagram .feed a {
  width: 25%;
  display: flex;
    align-items: center;
    justify-content: center;
  padding: 0;
  margin: 0;
}
section.instagram .feed a img{
  width: 100%;
  padding: 0;
  margin: 0;
}

section.clients {
  width: 100vw;
  background: linear-gradient(to right, rgba(255,255,255,0.85), rgba(255,255,255,0.85)), url(../images/paineis.jpg) no-repeat top center ;
  background-attachment: fixed;
  background-position: bottom;
  background-size: cover;
  padding: 35px 0 0 0;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

section.clients h1 {
  font-family: "Rocko";
  font-size: 46px;
  color: #5c5c5c;
  margin: 0px;
  padding: 5px;
  display: block;
  text-align: center;
}

section.clients h3 {
  font-family: "Rubik";
  font-size: 16px;
  font-weight: 100;
  color: #5c5c5c;
  margin: 0px;
  padding: 5px;
  display: block;
  text-align: center;
}

section.clients .spacer {
  width: 150px;
  height: 6px;
  background-color: #faab4b;
  margin: 10px 0;
}

section.clients .texts {
  text-align: center;
  padding: 30px 0;
  width: 75vw;
}
section.clients .texts .text{
  display: none;
  font-family: "Rubik";
  font-size: 24px;
  font-weight: 200;
  color: #5c5c5c;
}
section.clients .texts .text.active{
  display: block;
}

section.clients .clients {
  background-color: #e9e9e9;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: relative;
  margin-top: 20px;
  padding: 0 0 100px 0;
  height: 100px;
}

section.clients .clients .client{
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  cursor: pointer;
}

section.clients .clients .client .image:before
{
  content: "";
  width: 150px;
  height: 75px; /* as the half of the width */
  border-top-left-radius: 81px;  /* 100px of height + 10px of border */
  border-top-right-radius: 81px; /* 100px of height + 10px of border */
  border: 6px solid rgba(250,171,75,0.0);
  border-bottom: 0;
  transition: all 0.2s ease-in;
  position: absolute;
  top: 0;
  left: -6px;
}
section.clients .clients .client.active .image:before ,
section.clients .clients .client:hover .image:before {
   border: 6px solid rgba(250,171,75,0.99);
   border-bottom: 0;
}

section.clients .clients .client.active .image img ,
section.clients .clients .client:hover .image img{
   /* margin-top: 75px; */
}

section.clients .clients .client .image{
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
section.clients .clients .client .image img{
  width: 120px;
  height: 120px;
  border-radius: 100%;
  object-fit: cover;
}

section.clients .clients .client.active span.name , section.clients .clients .client:hover span.name{
  /* padding-top: 75px; */
}

section.clients .client span.name {
    font-family: "Rubik";
    font-size: 20px;
    font-weight: bold;
    color: #5c5c5c;
    padding-top: 4px;

    text-align: center;
}

section.clients .client span.company {
    font-family: "Rubik";
    font-size: 14px;
    font-weight: 100;
    color: #5c5c5c;
    padding-top: 4px;

    text-align: center;
}

.estimate {
  width: 75vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.estimate p {
  background-color: #294256;
  padding: 15px 15px 5px 15px;
  color: #ffffff;
  font-family: "Rocko";
  font-size: 30px;
  font-weight: 100;
  line-height: 58px;
  text-transform: uppercase;
}

.estimate a {
  padding: 15px 20px;
  font-family: "Rubik";
  font-weight: 100;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 250;
  text-transform: uppercase;
  border: 4px solid #faab4b;
  decoration: none;
  transition: all 0.2s ease-in;
  background-color: rgba(250,171,75,0.99);
  margin: 0 15px;
  text-decoration: none;
}
.estimate a:hover {
  background-color: rgba(250,171,75,0.69);
}

footer {
  width: 100vw;
  background-color: rgba(44, 74, 111, 1.0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer .nav{
  width: 75%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 30px 0;
  border-bottom: 4px solid #faab4b;
}
footer .nav > .logo img{
  height: 50px;
}

footer .nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  width: 50%;
}

footer .nav ul li a{
  font-family: "Rubik";
  font-weight: 200;
  color: #ffffff;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 10px;
  transition: all 0.2s ease-in;
  border-bottom: 0px solid #faab4b;
  text-decoration: none;
  padding: 6px 6px 6px 6px;
}

footer .nav ul li a:hover {
  border-bottom: 4px solid #faab4b;
  padding: 6px 6px 2px 6px;
}

footer .nav .social {
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
}

footer .nav .social a {
  padding: 10px;
  border: 0px solid #faab4b;
  border-radius: 100%;
  margin: 2px 7px;
  display: flex;
  flex-direction: center;
  justify-content: center;
  transition: all 0.2s ease-in;
}

footer .nav .social a:hover {
  border: 2px solid #faab4b;
  margin: 0px 5px;
}

footer .nav .social img {
  width: 30px;
  height: 30px;
  filter: invert(1);
}

footer .info {
  width: 75%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  padding: 25px 0;
}

footer .info ul {
  list-style: none;
  font-family: "Rubik";
  font-weight: regular;
  color: #ffffff;
  letter-spacing: 250;
}
footer .info ul li a {
  color: #faab4b;
  text-decoration: none;
}

section.blog-posts {
  width: 100vw;
  min-height: 100vh;
  background-color: #ffffff;
  padding: 35px 0 0 0;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;
  margin-top: 100px;
}

section.blog-posts .filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  position: relative;
  width: 75vw;
}

section.blog-posts .filters ul {
  border-bottom: 2px solid #faab4b;
  padding: 15px 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  position: relative;
  list-style: none;
  width: 100%;
}
section.blog-posts .filters ul li {
  border-bottom: 2px solid #faab4b;
  padding: 0 15px;
  height: 30px;
  margin: 0 0 -15px 0;
  font-family: "Rubik";
  font-weight: 300;
  color: #294256;
  letter-spacing: 250;
}

section.blog-posts .filters ul li.active {
    border-bottom: 4px solid #faab4b;
}

section.blog-posts .filters input{
  font-family: "Rubik";
  font-weight: 300;
  color: #294256;
  letter-spacing: 250;
  width: 300px;
  height: 35px;
  font-size: 14px;
  border-bottom: 6px solid #faab4b;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  margin-top: 8px;
}

section.blog-posts .post {
  width: 75%;
  padding: 15px;

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  position: relative;
  flex-wrap: wrap;
}

section.blog-posts .post:nth-of-type(odd) {
  flex-direction: row-reverse;
}

section.blog-posts .post .data {
  width: calc(50% - 20px);
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  height: 400px;
}

section.blog-posts .post .data h1{
  font-family: "Rubik";
  font-weight: 500;
  color: #faab4b;
  text-transform: uppercase;
  padding: 0 20px 0 0;
  font-size: 35px;
}

section.blog-posts .post .data small{
  font-family: "Rubik";
  font-weight: normal;
  color: #5c5c5c;
  text-transform: uppercase;

  font-size: 14px;
}

section.blog-posts .post .data p{
  font-family: "Rubik";
  font-weight: 100;
  color: #5c5c5c;
  flex-grow: 1;
  font-size: 14px;
}

section.blog-posts .post .more {
  text-transform: uppercase;
  font-size: 20px;
  display: block;
  padding: 10px 20px;
  font-family: "Rubik";
  font-weight: bold;
  color: #ffffff;
  letter-spacing: 250;
  text-transform: uppercase;
  border: 4px solid #faab4b;
  decoration: none;
  transition: all 0.2s ease-in;
  background-color: rgba(250,171,75,1.0);
  text-decoration: none;
}

section.blog-posts .post .more:hover {
  background-color: rgba(250,171,75,0.7);
  cursor: pointer;

}

section.blog-posts .post .data small,
section.blog-posts .post .data p {
padding: 0 20px 0 0;
}

section.blog-posts .post:nth-of-type(odd) .data {
  padding: 0 0 0 20px;
}
section.blog-posts .post:nth-of-type(even) .data {
  padding: 0 0 0 20px;
}

section.blog-posts .post img {
  width: 50%;
  height: 400px;
}


section.blog-posts .post-single {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 75vw;
  flex-direction: column;
}
section.blog-posts .post-single .single-image{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 450px;
  overflow: hidden;
}

section.blog-posts .post-single .single-image img{
  position: absolute;
  width: 100%;
  height: auto;
}

section.blog-posts .post-single .data {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;
}

section.blog-posts .post-single .data h1{
  font-family: "Rubik";
  font-weight: 500;
  color: #faab4b;
  text-transform: uppercase;
  padding: 0 20px 0 0;
  font-size: 35px;
}

section.blog-posts .post-single .data small{
  font-family: "Rubik";
  font-weight: normal;
  color: #5c5c5c;
  text-transform: uppercase;
  padding: 25px 0;
  font-size: 14px;
  display: flex;
}

section.blog-posts .post-single .data p{
  font-family: "Rubik";
  font-weight: 100;
  color: #5c5c5c;
  text-align: justify;
  font-size: 14px;
}

section.blog-posts .post-single .fb-comments{
    margin: 25px 0;
    width: 100%;
}

section.blog-posts .post-single .fb-comments span iframe{
    width: 100% !important;
}

section.blog-posts .post-single .estimate{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    padding: 0;
    margin: 0;
}

section.blog-posts .post-single .estimate p {
  background-color: rgba(44, 74, 111, 1.0);
  padding: 8px 15px;
  color: #ffffff;
  font-family: "Rubik";
  font-size: 28px;
  font-weight: 500;
  line-height: 58px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}

section.blog-posts .post-single .estimate a {
  padding: 15px 50px;
  font-family: "Rubik";
  font-weight: 100;
  color: rgba(44, 74, 111, 1.0);
  font-size: 32px;
  letter-spacing: 250;
  text-transform: uppercase;
  border: 4px solid #faab4b;
  decoration: none;
  transition: all 0.2s ease-in;
  background-color: rgba(250,171,75,0.0);
  margin: 0 15px;
  text-decoration: none;
}
section.blog-posts .post-single .estimate a:hover {
  background-color: rgba(250,171,75,0.69);
}

section.contact {
  width: 100vw;
  background-color: #f3a54f;
  padding: 80px 0 ;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

section.contact h1 {
  font-family: "Rocko";
  font-size: 46px;
  line-height:30px;
  color: #ffffff;
  margin: 0px;
  padding: 5px;
  display: block;
  text-align: center;
}
section.contact h2 {
  font-family: "Rubik";
  font-size: 16px;
  font-weight: 100;
  color: #ffffff;
  margin: 0px;
  padding: 5px;
  display: block;
  text-align: center;
}
section.contact .spacer {
  display: block;
  width: 10vw;
  height: 5px;
  background: #ffffff;
  margin: 10px 0;
}

section.contact .container {
  display: flex;
  align-items: center;
  justify-content:center;
  flex-direction: row;
  width: 75vw;
  flex-wrap: wrap;
  margin: 15px 0;
}

section.contact .container .map {
  width: 40%;
  height: 791px;
  background: #fff;
}

section.contact .container form {
  width: calc(60% - 30px);
  height: calc(791px - 70px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  background: rgba(44,74,111, 1.0);
  padding: 35px 15px;
}

section.contact .container form .item.fullwidth{
  width: 100%;
}
section.contact .container form .item{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

section.contact .container form label span{
  width: 100%;
}

section.contact .container form .item input{
  width: 100%;
  padding: 10px 5px;
  background: rgba(44,74,111, 1.0);
  border: 4px solid #f3a54f;
  margin:15px;
  color: #fff;font-family: "Rubik";
  font-size: 16px;
  font-weight: 400;
}

section.contact .container form .item textarea {
  width: 100%;
  padding: 10px 5px;
  background: rgba(44,74,111, 1.0);
  border: 4px solid #f3a54f;
  margin: 15px;
  display: block;
  color: #fff;font-family: "Rubik";
  font-size: 16px;
  font-weight: 400;
  resize: none;
  min-height: 150px;
}

section.contact .container form .item span{
  font-family: "Rubik";
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  margin: 0px;
  margin: 15px 15px 0 15px;
  display: block;
  text-align: left;
  text-transform: uppercase;
}

section.contact .container form .wrapper{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
}

section.contact .container form .wrapper button{
  text-transform: uppercase;
  font-size: 14px;
  display: block;
  padding: 10px 40px;
  font-family: "Rubik";
  font-weight: bold;
  color: #ffffff;
  letter-spacing: 250;
  text-transform: uppercase;
  border: 4px solid #faab4b;
  decoration: none;
  transition: all 0.2s ease-in;
  background-color: rgba(250,171,75,1.0);
  text-decoration: none;
  margin-right: 15px;
}

section.contact .container form .wrapper button:hover {
  background-color: rgba(250,171,75,0.7);
  cursor: pointer;
}

section.contact .container form .divider {
  width: 100%;
  border-bottom: 2px solid rgba(250,171,75,1.0);
  margin: 15px;
}

section.contact .container form .info {
  width: 100%;
  margin: 15px;
}

section.contact .container form .info h1{
  text-transform: uppercase;
  font-size: 22px;
  display: block;
  font-family: "Rubik";
  font-weight: 400;
  text-align:left;
  padding: 10px 0px;
  margin: 0;
}

section.contact .container form .info ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px 0px;
  margin: 0;
}
section.contact .container form .info ul li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 50%;
  font-family: "Rubik";
  font-weight: bold;
  color: #ffffff;
  line-height: 20px;
  padding: 0;
  margin: 0;
}

section.contact .container form .info ul li:nth-of-type(odd)  i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  background: url(../images/icons/email.svg) no-repeat center center;
  background-size: cover;
}
section.contact .container form .info ul li:nth-of-type(even)  i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  background: url(../images/icons/phone.svg) no-repeat center center;
  background-size: cover;
}


section.contact .container form .info ul li a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  display: block;
  font-family: "Rubik";
  font-weight: bold;
  color: #ffffff;
  font-weight: 100;
  margin: 10px;
}

section.contact .container form #response {
  width: 100%;
  margin: 0px 10px;
}

section.contact .container form #response h1{
  text-transform: uppercase;
  font-size: 18px;
  display: block;
  font-family: "Rubik";
  font-weight: 400;
  text-align:left;
  padding: 0px 0px;
  margin: 0;
}
