/* Extra small devices (phones, less than 768px) */
@media only screen and (max-width: 767px)
{
  nav {
    width: 100vw !important;
  }

  nav ul {
    display: none !important;
  }

  section.index {
    background: linear-gradient(to right, rgba(44,74,111,0.50), rgba(44,74,111,0.50)), url(../images/parallax-foto.jpg) no-repeat bottom center ;
  }
  section.index #bg1,
  section.index #bg2,
  section.index #bg3,
  section.index #bg4 {
  background: none !important;
  }
  section.index > .hero {
    margin-top: 0 !important;
    width: 85vw !important;
  }
  section.index > .hero h1 {
    font-size: 40px !important;
    line-height: 46px !important;
    word-wrap: break-word;
  }

  section.index > .hero p {
    width: 80% !important;
    font-size: 18px !important;
  }
  section.index > .hero h1 br {
    display: none !important;
  }
  section.index > .hero h4 {
    padding: 0 !important;
  }
  section.tabs {
    padding: 50px 0 !important;
  }

  section.tabs .container .titles {
      flex-direction: column !important;
  }
  section.tabs .container .titles li {
    width: 100% !important;
  }
  section.tabs .container .contents li {
    flex-direction: column !important;
  }
  section.tabs .container .contents li .item {
    width: 100% !important;
  }

  section.installation .container {
    flex-direction: column-reverse !important;
  }

  section.installation .container .pane {
    width: 100% !important;
  }
  section.installation .container .pane.descriptions {
    height: auto !important;
  }
  section.installation .container .pane.descriptions .description p {
    font-size: 16px !important;
  }
  section.installation .container .pane.icons .icon {
    width: 50% !important;
    height: 25% !important;
  }
  section.installation .container .pane.icons .icon img {
    width: 100px !important;
    height: 100px !important;
  }
  section.instagram .feed a {
    width: 50% !important;
  }

  section.clients .clients {
    width: 94vw !important;
  }

  section.clients .clients .client .image{
    width: 90px !important;
    height: 90px !important;
  }
  section.clients .clients .client.active .image:before  {
    height: 45px !important;
    width: 90px !important;
  }
  section.clients .clients .client .image img{
    width: 80px !important;
    height: 80px !important;
  }


  .estimate {
    flex-direction: column !important;
  }

  section.tabs .container .contents li iframe {
    width: 100% !important;
  }


  footer .nav{
    flex-direction: column !important;
  }

  footer .nav ul {
    width: 100% !important;
    padding-left: 0px;
    margin-left: 0px;
  }

  footer .info {
    flex-direction: column-reverse !important;
  }

  section.blog-posts .post {
    width: 100% !important;
    flex-direction: column !important;
  }

  section.blog-posts .post .data{
    width: 100% !important;
    height: auto !important;
  }
  section.blog-posts .post img{
    width: 100% !important;
  }

  section.contact .container {
    flex-direction: column !important;
    width: 100vw !important;
  }

  section.contact .container .map {
    width: 100% !important;
    height: 300px !important;
    padding: 0 !important;
    margin: 0px !important;
  }

  section.contact .container form{
    width: 100% !important;
    padding: 15px 0px !important;
    height: auto !important;
  }

  section.contact .container form .item {
      width: 100% !important;
  }

  section.contact .container form .info ul {
    align-items: flex-start !important;
    flex-direction: column !important;
  }

  section.contact .container form .info ul li {
    width: 100% !important;
    padding: 20px 0px !important;
  }
}


@media only screen and (min-width: 767px) and (max-width: 1024px)
{
  section.index > .hero {
    margin-top: 0 !important;
  }
  section.index > .hero h1 {
    font-size: 80px !important;
    line-height: 80px !important;
    word-wrap: break-word;
  }
  section.index > .hero p {
    font-size: 16px !important;
  }

  section.installation .container .pane.descriptions .description p {
    font-size: 16px !important;
  }

  section.contact .container {
    width: 90vw !important;
  }


}
