
<div style="height: 60px;
width: 100vw;
padding: 10px 0px;
background: rgba(44, 74, 111, 1.0);
display: flex;
align-items: center;
justify-content: center;
margin: -10px 0 0 -9px;">
  <img src="{{logo}}" alt="ecobox" style="height: 60px">
</div>
<div style="width: 100vw; display: flex; align-items: center; justify-content: center">

  <div id="body" style="
  width: 70vw;
  padding: 10px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 20px">
    {{name}} {{last}}, enviou mensagem pelo site !

    <hr>

    {{message}}

    <hr>

    Você pode responder diretamente a este email ou pelo link: <a href="mailto:{{email}}">{{email}}</a>
  </div>

</div>
