<?php $controllerName=$this->router->getControllerName(); ?>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"    content="width=device-width, initial-scale=1">
  <meta name="description" content="EcoBox Engenharia - Reduza em até 95% o valor de sua fatura de energia e se proteja de aumentos tarifários por no mínimo 25 anos.">
  <meta name="authors"     content="Designed by Victor Hugo & Developed by Hudson Nicoletti ">
  <title>Ecobox Engenharia</title>

  <?php echo $this->assets->outputCss(); ?>

  <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
  <link rel="manifest" href="/assets/favicon/ite.webmanifest">
  <link rel="mask-icon" href="/assets/favicon/afari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
</head>
<body>

  <nav id="nav" data-active="<?php echo (($controllerName != "") ? "true" : "false"); ?>">
    <div class="container">
      <div class="logo">
        <img src="/assets/images/logo/full.svg" alt="">
      </div>
      <ul class="menu">
        <li id="index" class="<?php echo (($controllerName == "") ? "active" : ""); ?>"> <a href="/">Início</a> </li>
        <li id="about">Sobre</li>
        <li class="<?php echo (($controllerName == "blog") ? "active" : ""); ?>"><a href="/blog">Blog</a></li>
        <li id="contact">Contato</li>
      </ul>
      <a href="https://wa.me/+554333670559" class="cta">Simulação</a>
    </div>
  </nav>

  <?php echo $this->getContent();?>

  <footer>
    <div class="nav">
      <div class="logo">
        <img src="/assets/images/logo/Icone.png" alt="">
        <img src="/assets/images/logo/Branca.png" alt="">
      </div>
      <ul class="menu">
        <li><a href="/">Início</a></li>
        <li><a href="#">Sobre</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/contato">Contato</a></li>
      </ul>
      <div class="social">
        <a href="https://wa.me/+554333670559"><img src="/assets/images/icons/WhatsApp.svg" alt=""></a>
        <a href="https://www.instagram.com/ecoboxengenharia/"><img src="/assets/images/icons/Instagram.svg" alt=""></a>
        <a href="https://www.facebook.com/EcoBoxSolar"><img src="/assets/images/icons/Facebook.svg" alt=""></a>
      </div>
    </div>
    <div class="info">
      <ul>
        <li>@2021 EcoBox Engenharia</li>
        <li>Designed by <a href="https://dribbble.com/hugosttoso">Victor Hugo</a> &amp; Developed by <a href="http://hudsonnicoletti.com">Hudson Nicoletti</a> .</li>
        <li>All Rights Reserved, Terms of use. Privacy policy</li>
      </ul>
      <ul>
        <li>Av. Harry Prochet, 550 . Sala 1</li>
        <li>CEP 86047040 . Londrina, Paraná</li>
        <li>CNPJ 30.815.626/0001-17</li>
        <li><a href="tel://43670559">(43) 3367-0559</a></li>
      </ul>
    </div>
  </footer>

  <a href="https://wa.me/+554333670559" class="whatsapp"><img src="/assets/images/icons/WhatsApp/whatsapp-logo-2-1.png" alt=""></a>

  <?php echo $this->assets->outputJs(); ?>

  <?php  if($controllerName == "" || $controllerName == "index"): ?>
  <script type="text/javascript">
  $('#bg1').paroller();
  $('#bg2').paroller();
  $('#bg3').paroller();
  $('#bg4').paroller();

var _feed = $("#instagram-feed");
var fet = fetch('/instagram')
    .then(response => response.json())
    .then(data => {
      $("#instagram-loading").hide();
      for (var i = 0; i < data.response.length; i++) {
        _feed.append('<a target="_blank" class="animate__animated animate__bounceIn" href="'+data.response[i][1]+'" ><img src="'+data.response[i][0]+'" /></a>');
      }
    });
  </script>

  <script>
      mapboxgl.accessToken = 'pk.eyJ1IjoiaHVkc29ubmljb2xldHRpIiwiYSI6ImNrbm04enNyczBvZWUydnJ5bzBjcTB2NG4ifQ.HxFE07NlP1YEhi0gbWKd5w';
      var map = new mapboxgl.Map({
      container: 'map',
      style: 'mapbox://styles/mapbox/streets-v11',
      center: [-51.161120,-23.343770], // starting position [lng, lat]
      zoom: 14 // starting zoom
    });

    var marker1 = new mapboxgl.Marker({ color: 'orange' })
    .setLngLat([-51.161120,-23.343770])
    .addTo(map);
  </script>


  <script type="text/javascript">
  $("[data-ajaxForm='true']").submit(function(){

      var $this   = $(this),
          action  = $this.attr("action"),
          method  = $this.attr("method"),
          inputs  = $this.find("input:not(:file):not(:submit):not(:checkbox) , textarea, select, input:hidden, input:checked"),
          content = new FormData();

          for (var i = 0; i < inputs.length; ++i){
            content.append($(inputs[i]).attr("name"), $(inputs[i]).val()); // Add all fields automatic
          }

          //  Submit data
          $.ajax({
              url:  action,           //  Action  ( PHP SCRIPT )
              type: method,           //  Method
              data: content,          //  Data Created
              processData: false,     //  Tell jQuery not to process the data
              contentType: false,     //  Tell jQuery not to set contentType
              dataType: "json",       //  Accept JSON response
              cache: false,           //  Disale Cashing
              success: function( response )
              {

                var _text = $("#response h1");
                _text.removeClass("animate__animated animate__bounceOut");
                _text.addClass("animate__animated animate__bounceIn");
                _text.text(response.response);

                setTimeout(function(){
                  _text.removeClass("animate__animated animate__bounceIn");
                  _text.addClass("animate__animated animate__bounceOut");
                }, 5000);
              }
          });

          event.preventDefault();
});

  </script>



<?php endif; ?>
<?php  if($controllerName == "blog"): ?>
<script type="text/javascript">
  $('[data-search]').filtr({
    target : ".post", // Object to be filterd
    caseSensitive : false // Filter strictly  ( true || false , default is false )\
  });
</script>
<?php endif; ?>
</body>
</html>

<script async src="https://www.googletagmanager.com/gtag/js?id=AW-728564270"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-728564270');
</script>
