<section class="form-selection">
  <form class="pf" action="/formulario/finalizar" method="post">

    <h2>ENDEREÇO</h2>

    <div class="inputs">

      <div class="item">
        <span>cep</span>
        <input type="text" name="cep">
      </div>

      <div class="item">
        <span>endereço</span>
        <input type="text" name="address">
      </div>

      <div class="item">
        <span>numero</span>
        <input type="text" name="address_num">
      </div>

      <div class="item">
        <span>Bairro</span>
        <input type="text" name="neighbourhood">
      </div>

      <div class="item">
        <span>Estado</span>
        <select name="state" id="">
          <?php foreach($states as $state): ?>
          <option value="<?php echo $state->initial; ?>"><?php echo $state->name; ?> </option>
          <?php endforeach; ?>
        </select>
      </div>

      <div class="item">
        <span>Cidade</span>
        <input type="text" name="city">
      </div>

    </div>

    <hr data-other>

    <h2 data-other >ENDEREÇO</h2>

    <div class="inputs" data-other>

      <div class="item">
        <span>cep</span>
        <input type="text" name="install_cep">
      </div>

      <div class="item">
        <span>endereço</span>
        <input type="text" name="install_address">
      </div>

      <div class="item">
        <span>numero</span>
        <input type="text" name="install_address_num">
      </div>

      <div class="item">
        <span>Bairro</span>
        <input type="text" name="install_neighbourhood">
      </div>

      <div class="item">
        <span>Estado</span>
        <select name="install_state" id="">
          <?php foreach($states as $state): ?>
          <option value="<?php echo $state->initial; ?>"><?php echo $state->name; ?> </option>
          <?php endforeach; ?>
        </select>
      </div>

      <div class="item">
        <span>Cidade</span>
        <input type="text" name="install_city">
      </div>

    </div>

      <div class="wrap_toright">
        <div class="column">

          <label for="useaddr">
            <input data-addr="same" type="radio" name="useaddr" value="same" checked="checked">
            <span>Usar Mesmo endereço para instalação</span>
          </label>
          <label for="useaddr">
            <input data-addr="other" type="radio" name="useaddr" value="other" >
            <span>Usar outro endereço para instalação</span>
          </label>

        </div>
        <button type="submit"> Continuar </button>
      </div>
  </form>

  <div class="page_progress">
    <div class="empty active"></div>
    <div class="dot active"></div>
    <div class="dot active"></div>
    <div class="dot active"></div>
    <div class="empty"></div>
    <div class="line progress4"></div>
  </div>
</section>
