<section class="form-selection">
  <form class="pf" action="/formulario/representante" method="post">

      <h2>DADOS PESSOAIS</h2>

      <div class="inputs">

        <div class="item half">
          <span>Nome Completo</span>
          <input type="text" name="name">
        </div>

        <div class="item half">
          <span>Nome da Mãe</span>
          <input type="text" name="mother">
        </div>

        <div class="item">
          <span>Data de Nascimento</span>
          <input type="text" name="birth" data-date placeholder="DD/MM/YYYY">
        </div>

        <div class="item">
          <span>e-mail</span>
          <input type="text" name="email">
        </div>

        <div class="item">
          <span>Telefone</span>
          <input type="text" name="phone" data-phone placeholder="(DDD) #####-####">
        </div>

        <div class="item" >
          <span>CPF</span>
          <input type="text" name="cpf" data-cpf>
        </div>

        <div class="item">
          <span>Valor Patrimonio</span>
          <input type="text"  name="value" data-money>
        </div>

        <div class="item">
          <span>Numero RG/RNE</span>
          <input type="text"  name="rg" data-rg>
        </div>

        <div class="item">
          <span>Sexo</span>
          <select name="sex" id="">
            <?php foreach($selection->genero as $sexo): ?>
            <option value="<?php echo $sexo; ?>"><?php echo $sexo; ?> </option>
            <?php endforeach; ?>
          </select>
        </div>

        <div class="item">
          <span>nacionalidade</span>
          <select name="nationality" id="">
            <?php foreach($selection->nacionalidade as $item): ?>
            <option value="<?php echo $item; ?>"><?php echo $item; ?> </option>
            <?php endforeach; ?>
          </select>
        </div>

        <div class="item">
          <span>estado civil</span>
          <select name="status" id="">
            <?php foreach($selection->estado_civil as $item): ?>
            <option value="<?php echo $item; ?>"><?php echo $item; ?> </option>
            <?php endforeach; ?>
          </select>
        </div>

      </div>

      <div class="wrap_toright">
        <button type="submit"> Continuar </button>
      </div>
  </form>

  <div class="page_progress">
    <div class="empty active"></div>
    <div class="dot active"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="empty"></div>
    <div class="line progress2"></div>
  </div>
</section>
