<section class="form-selection">
  <div class="wrapper">
    <h1>Formulario Enviado</h1>
    <small>TODOS DADOS FORAM SALVOS &amp; ARQUIVADOS</small>

    <a href="/" class="back">Voltar ao Site</a>

  </div>

  <div class="page_progress">
    <div class="empty active"></div>
    <div class="dot active"></div>
    <div class="dot active"></div>
    <div class="dot active"></div>
    <div class="empty active"></div>
    <div class="line progress5"></div>
  </div>
</section>
