<section class="form-selection">
  <div class="wrapper">
    <h1>Ficha de Cadastramento</h1>
    <small>SIGA OS PASSOS E PREENCHA OS DADOS</small>

    <h2>VAMOS COMEÇAR:</h2>
    <h3>TIPO DO CLIENTE:</h3>

    <form action="/formulario/dados" method="post">
      <div class="seletions">
        <label for="pf">
          <input type="radio" name="type" value="pf" checked="checked"/>
          Pessoa Fisica
        </label>
        <label for="pj">
          <input type="radio" name="type" value="pj"/>
          Pessoa Juridica
        </label>
      </div>
      <button type="submit"> Continuar </button>
    </form>
  </div>

  <div class="page_progress">
    <div class="empty active"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="empty"></div>
    <div class="line"></div>
  </div>
</section>
