<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="EcoBox Engenharia - Reduza em até 95% o valor de sua fatura de energia e se proteja de aumentos tarifários por no mínimo 25 anos.">
  <meta name="authors"     content="Designed by Victor Hugo & Developed by Hudson Nicoletti ">

  <title>Ecobox Engenharia - Formulário</title>
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
  <link rel="manifest" href="/assets/favicon/ite.webmanifest">
  <link rel="mask-icon" href="/assets/favicon/afari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  <?php echo $this->assets->outputCss(); ?>
</head>
<body>
  <?php echo $this->getContent();?>
</body>
<?php echo $this->assets->outputJs(); ?>
</html>
