<section class="blog-posts">

  <div class="filters">
    <ul>
      <li class="active">Recentes</li>
    </ul>
    <input type="text" data-search="" placeholder="Pesquisar" />
  </div>


  <?php for ($i=0; $i < count($posts); $i++): ?>
    <div class="post">

      <div class="data">
        <h1><?php echo $posts[$i]->title; ?></h1>
        <small>públicado - <b><?php echo $formatter->format(new \Datetime($posts[$i]->date)); ?></b></small>

        <p><?php echo substr(strip_tags($posts[$i]->text), 0 , 500); ?> ... Continue Lendo ...</p>

        <a href="/blog/<?php echo $posts[$i]->slug; ?>" class="more"> Ler Tudo</a>
      </div>

      <img src="/assets/images/blog/<?php echo $posts[$i]->image; ?>" alt="">

    </div>
  <?php endfor; ?>

</section>
