<section class="blog-posts">

    <div class="post-single">

      <div class="single-image">
        <img src="/assets/images/blog/<?php echo $post->image; ?>" alt="<?php echo $post->title; ?>">
      </div>

      <div class="data">
        <h1><?php echo $post->title; ?></h1>
        <?php echo $post->text; ?>
        <small>públicado - <b><?php echo $formatter->format(new \Datetime($post->date)); ?></b></small>
      </div>

      <div class="estimate">
      <a href="https://wa.me/+554333670559?text=Ol%C3%A1%2C%20gostaria%20de%20fazer%20uma%20simula%C3%A7%C3%A3o">Simulação</a>
        <p>Vamos ajudá-lo a economizar!</p>
      </div>

      <div class="fb-comments" data-href="https://ecobox.eng.br/blog/<?php echo $post->slug; ?>" data-width="100%" data-numposts="20"></div>

    </div>

</section>

<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v10.0" nonce="lV3TnEto"></script>
