<section class="form-selection">
  <form class="pf" action="/formulario/representante" method="post">

      <h2>DADOS DA EMPRESA</h2>

      <div class="inputs">

        <div class="item">
          <span>CNPJ</span>
          <input type="text" name="cnpj" data-cnpj>
        </div>

        <div class="item">
          <span>Razão Social</span>
          <input type="text"  name="social">
        </div>

        <div class="item">
          <span>Nome Fantasia</span>
          <input type="text"  name="fantasy">
        </div>

        <div class="item">
          <span>Faturamento mensal</span>
          <input type="text"  name="income" data-money>
        </div>

        <div class="item">
          <span>Capital social</span>
          <input type="text" name="capitol">
        </div>

        <div class="item">
          <span>Telefone</span>
          <input type="text" name="phone" data-phone  placeholder="(DDD) #####-####">
        </div>

        <hr>

        <div class="item half">
          <span>Tempo de atividade</span>
          <input type="text"  name="time" placeholder="Quatidade Em Anos" data-yrs>
        </div>

        <div class="item half">
          <span>Ramo de Atividade</span>
          <input type="text" name="area" >
        </div>

        <hr>

        <div class="item">
          <span>cep</span>
          <input type="text" name="cep">
        </div>

        <div class="item">
          <span>endereço</span>
          <input type="text" name="address">
        </div>

        <div class="item">
          <span>numero</span>
          <input type="text" name="address_num">
        </div>

        <div class="item">
          <span>Bairro</span>
          <input type="text" name="neighbourhood">
        </div>

        <div class="item">
          <span>Estado</span>
          <select name="state" id="">
            <?php foreach($states as $state): ?>
            <option value="<?php echo $state->initial; ?>"><?php echo $state->name; ?> </option>
            <?php endforeach; ?>
          </select>
        </div>

        <div class="item">
          <span>Cidade</span>
          <input type="text" name="city">
        </div>

      </div>

      <div class="wrap_toright">
        <button type="submit"> Continuar </button>
      </div>
  </form>

  <div class="page_progress">
    <div class="empty active"></div>
    <div class="dot active"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="empty"></div>
    <div class="line progress2"></div>
  </div>
</section>
