<section class="form-selection">
  <form class="pf" action="/formulario/endereco" method="post">
    <h2>DADOS DO REPRESENTANTE LEGAL</h2>

    <div class="inputs">

      <div class="item half">
        <span>Nome Completo</span>
        <input type="text" name="name">
      </div>

      <div class="item half">
        <span>Nome da Mãe</span>
        <input type="text" name="mother">
      </div>

      <div class="item">
        <span>Data de Nascimento</span>
        <input type="text" name="birth" data-date placeholder="DD/MM/YYYY">
      </div>

      <div class="item">
        <span>e-mail</span>
        <input type="text" name="email">
      </div>

      <div class="item">
        <span>Telefone</span>
        <input type="text" name="phone" data-phone  placeholder="(DDD) #####-####">
      </div>

      <div class="item">
        <span>CPF</span>
        <input type="text" name="cpf" data-cpf>
      </div>

      <div class="item">
        <span>Valor Patrimonio</span>
        <input type="text"  name="value" data-money>
      </div>

      <div class="item">
        <span>Numero RG/RNE</span>
        <input type="text"  name="rg" data-rg>
      </div>

      <div class="item">
        <span>Sexo</span>
        <select name="sex" id="">
          <?php foreach($selection->genero as $sexo): ?>
          <option value="<?php echo $sexo; ?>"><?php echo $sexo; ?> </option>
          <?php endforeach; ?>
        </select>
      </div>

      <div class="item">
        <span>nacionalidade</span>
        <select name="nationality" id="">
          <?php foreach($selection->nacionalidade as $item): ?>
          <option value="<?php echo $item; ?>"><?php echo $item; ?> </option>
          <?php endforeach; ?>
        </select>
      </div>

      <div class="item">
        <span>estado civil</span>
        <select name="status" id="">
          <?php foreach($selection->estado_civil as $item): ?>
          <option value="<?php echo $item; ?>"><?php echo $item; ?> </option>
          <?php endforeach; ?>
        </select>
      </div>

    </div>

    <hr>

      <h2>DADOS PROFISSIONAIS</h2>

      <div class="inputs">

        <div class="item">
          <span>natureza da ocupação</span>
          <select name="nature" id="nature" >
            <?php foreach($selection->natureza as $id => $item): ?>
            <option value="<?php echo $selection_slugs[$id]; ?>"><?php echo $item; ?> </option>
            <?php endforeach; ?>
          </select>
        </div>

        <div class="item" data-ocupacao="1">
          <span>Renda Mensal</span>
          <input type="text" name="income" data-money>
        </div>

        <div class="item" data-ocupacao="1">
          <span>numero de benefícios</span>
          <input type="text" name="benefits" data-number>
        </div>

        <div class="item" data-ocupacao="1">
          <span>Quanto tempo aposentado?</span>
          <input type="text" name="retired" placeholder="Quatidade Em Anos" data-yrs>
        </div>

        <div class="item" data-ocupacao="2">
          <span>natureza da ocupação</span>
          <select name="occupation" id="occupation" >
            <?php foreach($selection->ocupacao as $id => $item): ?>
            <option value="<?php echo $occupacion_slug[$id]; ?>"><?php echo $item; ?> </option>
            <?php endforeach; ?>
          </select>
        </div>

        <div class="item" data-ocupacao="2">
          <span>Quanto tempo na empresa atual?</span>
          <input type="text" name="job" placeholder="Quatidade Em Anos" data-yrs>
        </div>

        <div class="item" data-ocupacao="2">
          <span>renda mensal</span>
          <input type="text" name="salary" data-money>
        </div>

        <div class="item" data-ocupacao="3">
          <span>CNPJ</span>
          <input type="text" name="cnpj" data-cnpj>
        </div>

        <div class="item" data-ocupacao="3">
          <span>Razão Social</span>
          <input type="text"  name="social">
        </div>

        <div class="item" data-ocupacao="3">
          <span>Nome Fantasia</span>
          <input type="text"  name="fantasy">
        </div>

        <div class="item" data-ocupacao="3">
          <span>Faturamento mensal</span>
          <input type="text"  name="faturamento" data-money>
        </div>

        <div class="item" data-ocupacao="3">
          <span>Capital social</span>
          <input type="text" name="capitol">
        </div>

        <div class="item" data-ocupacao="3">
          <span>Telefone</span>
          <input type="text" name="phone" data-phone  placeholder="(DDD) #####-####">
        </div>

        <div class="item" data-ocupacao="3">
          <span>cep</span>
          <input type="text" name="cep">
        </div>

        <div class="item" data-ocupacao="3">
          <span>endereço</span>
          <input type="text" name="address">
        </div>

        <div class="item" data-ocupacao="3">
          <span>numero</span>
          <input type="text" name="address_num">
        </div>

        <div class="item" data-ocupacao="3">
          <span>Bairro</span>
          <input type="text" name="neighbourhood">
        </div>

        <div class="item" data-ocupacao="3">
          <span>Estado</span>
          <select name="state" id="">
            <?php foreach($states as $state): ?>
            <option value="<?php echo $state->initial; ?>"><?php echo $state->name; ?> </option>
            <?php endforeach; ?>
          </select>
        </div>

        <div class="item" data-ocupacao="3">
          <span>Cidade</span>
          <input type="text" name="city">
        </div>

      </div>

      <div class="wrap_toright">
        <button type="submit"> Continuar </button>
      </div>
  </form>

  <div class="page_progress">
    <div class="empty active"></div>
    <div class="dot active"></div>
    <div class="dot active"></div>
    <div class="dot"></div>
    <div class="empty"></div>
    <div class="line progress3"></div>
  </div>
</section>
