<section class="index" id="scene">

  <div data-paroller-factor="0.60" data-paroller-type="foreground" data-paroller-direction="vertical" id="bg1"></div>
  <div data-paroller-factor="0.50" data-paroller-type="foreground" data-paroller-direction="vertical" id="bg2"></div>
  <div data-paroller-factor="0.40" data-paroller-type="foreground" data-paroller-direction="vertical" id="bg3"></div>
  <div data-paroller-factor="0.20" data-paroller-type="foreground" data-paroller-direction="vertical" id="bg4"></div>
  <div class="hero">
    <h4>ECONÔMIA SUSTENTÁVEL</h4>
    <h1><u>Seu imóvel ecoló</u>gico <br> &amp; autossuficiente</h1>
    <p>A Energia Sola é uma ótima alternativa para quem valoriza independência e eficiência. Comece a usar <b>Energia Solar Fotovoltaica</b> agora mesmo.
      <a id="learn" class="more">Saiba Mais</a>
    </p>
  </div>

</section>

<section class="tabs">

  <div class="container">
    <ul class="titles">
      <li data-tab="tab-1">Como Funciona</li>
      <li data-tab="tab-2">Sustentabilidade</li>
      <li data-tab="tab-3" class="active">Economia</li>
      <li data-tab="tab-4" >Serviços</li>
    </ul>
    <ul class="contents">
      <li data-tab="tab-1">
        <div class="item">
        <h3>Durante o Dia?</h3>
        <p>O sistema converte  os raios solares em energia elétrica que será consumida normalmente pelos painéis.</p>
      </div>
      <div class="item">
        <h3>Durante a Noite?</h3>
        <p>Sem o sol, a energia da rede é utilizada normalmente e mantém tudo funcionando.</p>
      </div>
      <div class="item">
        <h3>Se sobrar Energia?</h3>
        <p>A energia é direcionada automaticamente para a rede da concessionaria, gerando créditos ou abatida na fatura.</p>
      </div>
      </li>
      <li data-tab="tab-2">
        <div class="item">
          <h3>Sustentabilidade</h3>
          <p class="left-align">Energia solar é para quem busca sustentabilidade e eficiência. Matéria prima para a transformação em energia elétrica é captada na natureza, ou seja, a luz do sol é captada e dentro das células fotovoltaicas ela é transformada, sem emitir  CO2 ou outro tipo de poluente para o meio ambiente, abrace o sol e faça sua parte, o planeta agradece.</p>
        </div>
          <iframe src="https://player.vimeo.com/video/342312324" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
      </li>
      <li data-tab="tab-3" class="active">
        <div class="item">
          <h3>Economia</h3>
          <p>Utilizando a energia solar, é possível obter um desconto de até 95% na conta ao final do mês.</p>
        </div>
        <div class="item">
          <h3>Investimento</h3>
          <p>Em poucos anos você consegue quitar um investimento que durará 25 anos.</p>
        </div>
        <div class="item">
          <h3>Valorização</h3>
          <p>Além da economia, a energia solar traz consigo outros benefícios, como a valorização do seu imóvel.</p>
        </div>
      </li>
      <li data-tab="tab-4" >
        <div class="item">
          <h3>Projeto</h3>
          <p>Faremos o dimensionamento do gerador fotovoltaico que mais se adéqua ao consumo do cliente. Nosso engenheiro eletricista fará um memorial contendo os desenhos e cálculo do sistema que é entregue ao cliente.</p>
        </div>
        <div class="item">
          <h3>Instalação</h3>
          <p>Executa pela equipe de técnicos da ECOBOX e será supervisionada por um engenheiro eletricista. Toda instalação será feita de forma rápida e sem mudar a rotina de sua residência ou empresa.</p>
        </div>
        <div class="item">
          <h3>Homologação</h3>
          <p>Juntamos a documentação necessária para homologar o sistema junto a concessionária e atendemos a todas as exigências. Você não precisa se preocupar com nada referente a concessionária local.</p>
        </div>
      </li>
    </ul>
  </div>

  <a href="/blog" class="blog">+ Artigos, dados e novidades</a>

</section>

<section class="spacer"></section>

<section class="installation" id="install">
  <h1>Instalações</h1>
  <h2>OFERECEMOS UM ATENDIMENTO EXCLUSIVO A NECESSIDADE DE CADA CLIENTE.</h2>
  <div class="spacer"></div>

  <div class="container">
    <div class="pane descriptions">
      <div class="description des-1" data-pane="pane-1"><p>Simples e prático pode ser instalado em qualquer sistema construtivo e em todos os tipos de coberturas ou telhados. Basicamente composto por: – Painéis fotovoltaicos; Inversor; Relógio Bidirecional; Kit de sustentação em alumínio para fixação dos painéis; String Box; Módulo Wi-Fi para monitoramento remoto. Todos os nossos sistemas são rigorosamente dimensionados e projetados por engenheiros qualificados em suas respectivas áreas e homologados  às concessionárias e distribuidoras de energia elétrica.</p></div>
      <div class="description des-2" data-pane="pane-2"><p>Desenvolvemos e instalamos projetos de geração de energia solar sob medida para seu comércio, tornando-o economicamente mais viável! Sua conta de energia elétrica pode ser reduzida em até 95%. A energia advinda dos raios solares é uma alternativa altamente econômica e que respeita o meio ambiente, além do mais é infinita e eternamente renovável. Como se tudo isso não bastasse, seu comércio será visto como Empresa Amiga da Natureza e certamente atrairá um novo público!</p></div>
      <div class="description des-3 active" data-pane="pane-3">
        <p>A energia solar vem ganhando cada vez mais espaço no campo que, embora necessite de algum investimento inicial, no curto e médio prazo oferece economia e segurança para as atividades no campo.
          Na prática, o fornecimento de energia passa a ser gratuito – o investimento se restringe a compra e instalação dos equipamentos necessários. De funcionamento simples, o abastecimento por energia solar depende
          da instalação de um sistema fotovoltaico, formado por painéis, inversores e baterias.</p>

          <p>O crescente custo da energia elétrica das distribuidoras e concessionárias é uma preocupação para o agronegócio. A isso se soma a falta de segurança no fornecimento, que tem sofrido com as secas, apagões, falta de manutenção e investimentos nas redes de distribuição.</p>
      </div>
      <div class="description des-4" data-pane="pane-4"><p>O Gerador consiste num sistema onde a geração de energia solar fotovoltaica é conectada a um sistema de armazenamento inteligente. Os painéis produzem energia contínua, que o inversor transforma em alternada, essa energia é utilizada nos equipamentos em geral. Nos sistemas convencionais essa energia seria consumida imediatamente e seu excedente geraria créditos junto à concessionária. Por meio desse novo arranjo é possível também o seu armazenamento em baterias. Dessa forma, na falta de energia da concessionária ou para utilização em horário de ponta, a energia é ofertada normalmente pelo sistema, simultaneamente à geração on grid se houver Sol. Enquanto baterias estacionárias têm custo elevado e vida útil curta, as novas baterias BYD de LiFePO4 (Lítio Ferro Fosfato) tem sua durabilidade estimada em até 30 anos, são resistentes a poeira e à umidade, para saber mais entre em contato com a EcoBox.</p></div>
      <div class="description des-5" data-pane="pane-5"><p>Usinas de geradoras de energia podem ser uma opção muito lucrativa para investidores que busquem negócios que possibilitem retorno financeiro em curto prazo e cuja rentabilidade possa perdurar por muito tempo, essa forma de investimento poderá ser realizada individualmente ou em consórcios.

As chamadas fazendas de energia solar nada mais são do que usinas instaladas em áreas de grande vazão urbano ou zonas rurais. A grande vantagem é poder utilizar terras subaproveitadas na cidade ou na agropecuária para gerar eletricidade dando novamente uma função a essa propriedade. No Brasil, está se tornando comum, proprietários rurais vendem ou arrendam parte de suas terras para empresas construírem as usinas solares
</p></div>
      <div class="description des-6" data-pane="pane-6"><p>Contamos com profissionais habilitados que buscam as melhores soluções técnicas e financeiras para cada cliente, seja para obras residenciais, comerciais, industriais ou eletrificação rural sempre com transparência e profissionalismo. Nossos serviços podem ir desde o desenvolvimento do projeto, serviços de assessoria e consultoria, apoio a contratações e gerenciamento de obras. Nossos projetos elétricos são desenvolvidos em conformidade com as mais recentes tecnologias do mercado e em consonância com as normas técnicas, sociais e ambientais.
</p></div>
    </div>
    <div class="pane icons">
      <a data-pane="pane-1" class="icon"> <img class="icon-1" src="assets/images/icons/Residencial.svg"/> <p>Residencial</p> </a>
      <a data-pane="pane-2" class="icon"> <img class="icon-2" src="assets/images/icons/Comercial.svg" /> <p>Comercial</p> </a>
      <a data-pane="pane-3" class="icon active"> <img class="icon-3" src="assets/images/icons/Rural.svg"/> <p>Rural</p> </a>
      <a data-pane="pane-4" class="icon"> <img class="icon-4" src="assets/images/icons/Energia.svg"/> <p>Gerador de Energia</p> </a>
      <a data-pane="pane-5" class="icon"> <img class="icon-5" src="assets/images/icons/Industrial.svg"/> <p>Industrial</p> </a>
      <a data-pane="pane-6" class="icon"> <img class="icon-6" src="assets/images/icons/Engenharia.svg"/> <p>Engenharia Elétrica</p> </a>
    </div>
  </div>

</section>

<section class="instagram">
  <div class="follow"><span>Acompanhe pelo Instagram</span><img src="assets/images/icons/Instagram.svg" alt="EcoBox Engenharia"><span>EcoBox Energia Solar</span></div>
  <div class="feed" id="instagram-feed">
    <img src="assets/images/loading.gif" alt="Loading..." id="instagram-loading" style="margin: 25px">
  </div>
</section>


<section class="clients">
  <h1>Clientes Satisfeitos</h1>
  <h3>O QUE NOSSOS CLIENTES DIZEM É DE EXTREMA IMPORTÂNCIA PARA NÓS.</h3>
  <div class="spacer"></div>

  <div class="texts">
    <div class="text active" data-client="client-1"><p>“Muito obrigado! Cada pessoa com quem lidamos durante este projeto foi muito profissional. Fiquei muito impressionado com o cuidado tomado pelos instaladores para fazer o trabalho certo e limpar tudo depois. Vocês são os melhores que eu conheço.”</p></div>
    <div class="text" data-client="client-2"><p>“Tudo, desde o primeiro telefonema até o último, tem sido um alívio deixar a ECOBOX cuidar de todo o processo. Todos os nossos pedidos foram levados em conta e incorporados ao projeto. O processo de instalação foi surpreendentemente rápido. Eu recomendo vocês a todos os meus amigos.“</p></div>
    <div class="text" data-client="client-3"><p>“Eu decidi sair completamente da caixa, mas não tinha a menor ideia por onde começar. O pessoal da ECOBOX foram acima e além com o seu apoio, elaborando todas as complexidades do projeto. Agora, posso dizer com confiança que tenho exatamente o que precisava. Vocês fizeram um trabalho incrível!“</p></div>
  </div>

  <div class="clients">

    <div class="client active" data-client="client-1">
      <div class="image">
        <img src="assets/images/cliente1.jpg" alt="">
      </div>
      <span class="name">Thiago Antônio</span>
      <span class="company">Residencial, Londrina - PR.</span>
    </div>

    <div class="client" data-client="client-2">
      <div class="image">
        <img src="assets/images/cliente2.jpg" alt="">
      </div>
      <span class="name">Alice Moreira</span>
      <span class="company">Residencial, Londrina - PR.</span>
    </div>

    <div class="client" data-client="client-3">
      <div class="image">
        <img src="assets/images/cliente3.jpg" alt="">
      </div>
      <span class="name">Marina Braga</span>
      <span class="company">Residencial, Londrina - PR.</span>
    </div>

  </div>
</section>

<section class="spacer secondary">

  <div class="estimate">
    <p>Vamos ajudá-lo a economizar!</p>
    <a href="#">Simulação</a>
  </div>

</section>

<section class="contact">

  <h1>Contato</h1>
  <h2>ALGUMA PERGUNTA OU OBSERVAÇÃO? ESCREVA-NOS UMA MENSAGEM!</h2>
  <div class="spacer"></div>

  <div class="container">
    <div class="map" id="map">
    </div>

    <form action="/contato/enviar" method="post" charset="utf-8" data-ajaxForm='true'>
      <div class="item"><span>Primeiro Nome</span> <?php echo $form->render("name"); ?> </div>
      <div class="item"><span>Ultimo Nome</span> <?php echo $form->render("last"); ?></div>
      <div class="item"><span>E-Mail</span>   <?php echo $form->render("email"); ?> </div>
      <div class="item"><span>Telefone</span>  <?php echo $form->render("phone"); ?></div>
      <div class="item fullwidth"><span>Mensagem</span> <?php echo $form->render("msg"); ?></div>
      <div class="wrapper">
        <?php echo $form->render("security"); ?>

        <div id="response">
          <h1></h1>
        </div>
        <button type="submit"> Enviar </button>
      </div>

      <div class="divider"></div>

      <div class="info">
        <h1>informaçōes para contato</h1>
        <ul>
          <li><i class="icon"></i><a href="mailto:comercial@ecobox.eng.br">comercial@ecobox.eng.br</a></li>
          <li><i class="icon"></i><a href="tel:4333670559">(43) 3367-0559</a> ou <a href="tel:43996260559">(43) 99626-0559</a></li>
        </ul>
      </div>
    </form>

  </div>

</section>
